/* 전체 배경을 남색으로 설정하고 크기 고정 */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #03356f;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* 모든 요소에 대해 box-sizing 적용 */
* {
  box-sizing: border-box;
}

/* container가 화면 전체를 차지하도록 설정 */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  padding: 0 14%;
}

/* 왼쪽 텍스트 */
.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 3.5rem;
  font-weight: bold;
  animation: fadeIn 2s ease-in-out;
}

.left-side div {
  margin: 5px 0;
}

/* 오른쪽 텍스트와 버튼 */
.right-side {
  text-align: center;
  color: white;
}

.main-title {
  font-size: 4rem;
  white-space: nowrap;
  margin-bottom: 38px;
  font-weight: bold;
}

.start-btn {
  padding: 10px 20px;
  font-size: 1.4rem;
  color: #000000;
  background-color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.start-btn:hover {
  background-color: #ddd;
  transform: scale(1.05);
}

.ysal-logo {
  width: 250px; 
  height: auto; 
}

.highlight {
  color: red; /* "2i"를 빨간색으로 변경 */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 모바일 반응형 디자인 */
@media (max-width: 600px) {
  .main-title {
    font-size: 2.5rem;
  }

  .start-btn {
    font-size: 1.2rem;
  }

  .ysal-logo {
    width: 150px; 
  }
}