.fourth-page {
  display: flex; /* Flexbox 활성화 */
  flex-direction: column; /* 세로 방향 정렬 */
  justify-content: center; /* 세로 중앙 정렬 */
  align-items: center; /* 가로 중앙 정렬 */
  text-align: center;
  color: white;
  height: 100vh; /* 뷰포트 높이의 100%를 사용하여 전체 화면을 차지 */
}

h1 {
  font-size: 2em; /* 기존 제목 폰트 사이즈 */
  margin-bottom: 40px; /* eRE값 및 상황 선택 사이의 간격 */
}

.option {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.3em; /* 옵션 폰트 사이즈를 약간 키움 */
}

input[type="radio"] {
  margin-right: 10px; /* 라디오 버튼과 레이블 사이 간격 */
}

label {
  margin-left: 10px;
}

button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

.fourth-page h1:first-of-type {
  margin-bottom: 5px; /* Adjust the space between the first and second h1 */
}

.fourth-page h1:last-of-type {
  margin-top: 0; /* Remove the default margin on the second h1 if needed */
}

.batter-name {
  color: rgb(255, 129, 129); /* 원하는 색상으로 변경 */
  font-weight: bold; /* 필요하면 글자 굵기 조정 */
}